<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/events"></ion-back-button>
    </ion-buttons>

    <ion-title>Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-border ion-no-margin ion-no-padding">

    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-no-border ion-no-margin ion-no-padding">
          <ion-card-header color="primary" class="header-border">
            <ion-card-title class="ion-text-center">{{ loadedEvent.title }}</ion-card-title>

            <ion-row>
              <ion-col size="" class="ion-text-center">
                <ion-card-subtitle class="ion-padding">{{ loadedEvent.date | date:'dd/MMM/yyyy - hh:mm a'}}</ion-card-subtitle>
              </ion-col>
            </ion-row>

            <ion-row class="">
              <ion-col size="" class="">
                <ion-card-subtitle class="">Address: {{ loadedEvent.address}}</ion-card-subtitle>
              </ion-col>
            </ion-row>

            
            <ion-row class="">
              <ion-card-subtitle class="ion-text-center">Meeting Point: {{ loadedEvent.meetingPoint }}</ion-card-subtitle>
            </ion-row>

            <!-- <ion-row>
              <p>{{ loadedEvent.meetingPoint }}</p>
            </ion-row> -->

          </ion-card-header>
          <ion-card-content class="ion-margin-top">
            
            <h2>{{ loadedEvent.description }}</h2>
          </ion-card-content>

          <div *ngIf="!(loadedEvent.date < today)" >
            <ion-button *ngIf="(loadedEvent.isRsvpd === false)" class="ion-margin-top" color="tertiary" expand="full" (click)="confirmRsvp()">
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              RSVP!
            </ion-button>
  
            <ion-button *ngIf="(loadedEvent.isRsvpd === true)" class="ion-margin-top" color="danger" expand="full" (click)="cancelRsvp()">
              <ion-icon slot="start" name="close-circle-outline"></ion-icon>
              Cancel Reservation
            </ion-button>
          </div>

        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>