<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>

    <ion-title>Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- Skeleton loading -->
  
  <ion-grid *ngIf="isLoading" class="ion-no-border ion-no-margin ion-no-padding">

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-card class="ion-no-border ion-no-margin ion-no-padding">
          <ion-card-header color="primary" class="header-border">
            <ion-row>
              <ion-col size="11" offset="2">
                <ion-card-title class="ion-text-center">
                  <ion-skeleton-text animated class="skeleton-title"></ion-skeleton-text>
                </ion-card-title>
              </ion-col>
            </ion-row>
            

            <ion-row>
              <ion-col size="12" offset="3" class="ion-text-center">
                <ion-card-subtitle class="ion-padding">
                  <ion-skeleton-text animated class="skeleton-first-sub"></ion-skeleton-text>
                </ion-card-subtitle>
              </ion-col>
            </ion-row>

            <ion-row class="">
              <ion-col size="" class="">
                <ion-card-subtitle class="">
                  <ion-skeleton-text animated class="skeleton-second-sub"></ion-skeleton-text>
                </ion-card-subtitle>
              </ion-col>
            </ion-row>

            
            <ion-row class="">
              <ion-card-subtitle class="ion-text-center">
                <ion-skeleton-text animated class="skeleton-second-sub"></ion-skeleton-text>
              </ion-card-subtitle>
            </ion-row>


          </ion-card-header>
          <ion-card-content class="ion-margin-top">
            <ion-skeleton-text animated class="skeleton-content"></ion-skeleton-text>
          </ion-card-content>

          <div>
            <ion-skeleton-text animated class="skeleton-full-button"></ion-skeleton-text>
          </div>

        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
  
  <!-- End Skeleton loading -->
  
  <ion-grid *ngIf="loadedEvent" class="ion-no-border ion-no-margin ion-no-padding">

    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-no-border ion-no-margin ion-no-padding">
          <ion-card-header color="primary" class="header-border">
            <ion-card-title class="ion-text-center">{{ loadedEvent.title }}</ion-card-title>

            <ion-row>
              <ion-col size="" class="ion-text-center">
                <ion-card-subtitle class="ion-padding">{{ loadedEvent.event_date_and_time | date:'dd/MMM/yyyy - hh:mm a'}}</ion-card-subtitle>
              </ion-col>
            </ion-row>

            <ion-row class="">
              <ion-col size="" class="">
                <ion-card-subtitle class="">Address: {{ loadedEvent.address}}</ion-card-subtitle>
              </ion-col>
            </ion-row>

            
            <ion-row class="">
              <ion-card-subtitle class="ion-text-center">Meeting Point: {{ loadedEvent.meeting_point }}</ion-card-subtitle>
            </ion-row>

            <!-- <ion-row>
              <p>{{ loadedEvent.meetingPoint }}</p>
            </ion-row> -->

          </ion-card-header>
          <ion-card-content class="ion-margin-top">
            
            <h2>{{ loadedEvent.description }}</h2>
          </ion-card-content>

          <!-- If it is not a past event, show RSVP button -->
          <!-- <p *ngIf="!isPastEvent">
            Not past event
          </p> -->


          <div *ngIf="!isPastEvent" >
            <ion-button *ngIf="(loadedEvent.isRsvpd === false || !isAlreadyAttending )" class="ion-margin-top" color="tertiary" expand="full" (click)="confirmRsvp()">
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              RSVP!
            </ion-button>
  
            <ion-button *ngIf="(isAlreadyAttending)" class="ion-margin-top" color="danger" expand="full" (click)="cancelRsvp(loadedEvent.id)">
              <ion-icon slot="start" name="close-circle-outline"></ion-icon>
              Cancel Reservation
            </ion-button>
          </div>

        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>