<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/news"></ion-back-button>
    </ion-buttons>

    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-grid *ngIf="loadedNews" class="ion-no-border ion-no-margin ion-no-padding">
    
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-no-border ion-no-margin ion-no-padding">
          <ion-card-header color="primary" class="header-border">
            <ion-card-title class="ion-text-center ion-padding-bottom">{{ loadedNews.title }}</ion-card-title>
            
            <ion-row class="">
              <ion-col size="" class="">
                <ion-card-subtitle class="ion-padding">{{ loadedNews.publisher_first_name}} {{loadedNews.publisher_last_name}}</ion-card-subtitle>
              </ion-col>
              <ion-col size="" class="ion-text-right">
                <ion-card-subtitle class="ion-padding">{{ loadedNews.created_at | date:'dd/MMM/yyyy'}}</ion-card-subtitle>
              </ion-col>
            </ion-row>

          </ion-card-header>
          <ion-card-content class="ion-margin-top">
            <h2>{{ loadedNews.description }}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>  
    </ion-row>

  </ion-grid>

</ion-content>
