.skeleton-first-sub {
  width: 110px;
  height: 15px;
}

.skeleton-second-sub {
  width: 110px;
  height: 15px;
}

.skeleton-title {
  width: 100%;
  height: 30px;
}

.skeleton-content {
  height: 150px;
}
