<ion-header>
  <ion-toolbar color="primary" class="header-border">
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- iOS only header
    <ion-header collapse="condense">
    <ion-toolbar color="primary" background="primary">
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-grid class="ion-no-padding">

    <ion-row class="ion-no-margin">
      <ion-col size="10" offset="1">
    
        <!-- 
                Segment options at the top of the page 
                Each ion-segment-button gets a value that works similar to an identifier.
                The ion-segment has also a value property which will indicate which menu will be active by default
                The component also implements an ionic-native-event (ionChange) that handles the change and passes an event through
              -->
        <ion-segment value="upcomingEvents" (ionChange)="onFilterUpdate($event)" background="primary">
          <ion-segment-button value="upcomingEvents">Upcoming Events</ion-segment-button>
          <ion-segment-button value="pastEvents">Past Events</ion-segment-button>
        </ion-segment>
    
      </ion-col>
    </ion-row>


    <ion-row *ngFor="let event of loadedEvents">
      <ion-col size="12" class="">

        <ion-card id="news-card">
          <ion-card-header>
            <ion-card-title>{{ event.title }}</ion-card-title>
            <ion-card-subtitle class="ion-margin-top">{{ event.date }}</ion-card-subtitle>
            <ion-card-subtitle>{{ event.address }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ event.description }}
          </ion-card-content>

          
          <ion-row class="ion-align-items-center">
            <ion-col class="ion-text-left ion-margin align-self-center">
              <ion-chip *ngIf="event.isRsvpd" color="tertiary" class="ion-text-left">
                <ion-label>RSVP'd</ion-label>
              </ion-chip>
            </ion-col>

            <ion-col>
              <div class="ion-text-right ion-margin align-self-center">
                <ion-button size="small" color="primary" [routerLink]="['/', 'main', 'tabs', 'events', event.id]"
                  routerDirection="forward">
                  SHOW MORE
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
          
            
            

        </ion-card>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>