<ion-header>
  <!-- <ion-toolbar color="primary" class="header-border">
    <ion-title>{{isLoginMode ? 'LOGIN' : 'SIGN UP'}}</ion-title>
  </ion-toolbar> -->
  
</ion-header>

<ion-content color="primary" >

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center ion-margin-top">
        <img src="../../assets/moa_logo_500px.png" alt="Moke Owners Association Victoria" width="50%" id="moa-logo">
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <ion-grid>
      <div *ngIf="!isLoginMode">
        
        <!-- Membership Number -->
        <ion-row>
          <ion-col>
            
            <ion-item>
              <ion-label position="floating" color="tertiary">Membership Number</ion-label>
              <ion-input type="text"
                ngModel 
                name="membershipNumber"
                required
                #membershipControl="ngModel"
              >
              </ion-input>
            </ion-item>
            <!-- Membership Validation -->
            <ion-item *ngIf="membershipControl.invalid && membershipControl.touched" lines="none">
              <ion-label class="invalid-feedback">
                You must enter a valid membership number
              </ion-label>
            </ion-item>
      
          </ion-col>
        </ion-row>

        <!-- First Name -->
        <ion-row>
          <ion-col size="">

            <ion-item>
              <ion-label position="floating">First Name</ion-label>
              <ion-input
                type="text"
                ngModel
                name="firstName"
                required
                #firstName="ngModel"
                minlength="2"
                pattern="[a-zA-Z\s]+"
              >
              </ion-input>
            </ion-item>

            <!-- First Name Validation -->
            <ion-item *ngIf="firstName.invalid && firstName.touched" lines="none">
              <ion-label class="invalid-feedback">
                You need to enter at least 2 letters
              </ion-label>
            </ion-item>

          </ion-col>
        </ion-row>

        <!-- Last Name -->
        <ion-row>
          <ion-col size="">
        
            <ion-item>
              <ion-label position="floating">Last Name</ion-label>
              <ion-input type="text" ngModel name="lastName" required #lastName="ngModel" minlength="2" pattern="[a-zA-Z\s]+">
              </ion-input>
            </ion-item>
        
            <!-- Last Name Validation -->
            <ion-item *ngIf="lastName.invalid && lastName.touched" lines="none">
              <ion-label class="invalid-feedback">
                You need to enter at least 2 letters
              </ion-label>
            </ion-item>
        
          </ion-col>
        </ion-row>

      </div>
      
      <!-- Email -->
      <ion-row>
        <ion-col size="">
          
            
          <ion-item >
            <ion-label position="floating">E-mail</ion-label>
            <ion-input type="email"
              ngModel
              name="email"
              required
              email
              #emailControl="ngModel"
              >
            </ion-input>
          </ion-item>
          <!-- Email validation -->
          <ion-item *ngIf="emailControl.invalid && emailControl.touched" lines="none">
            <ion-label class="invalid-feedback">
              You must enter a valid e-mail address
            </ion-label>
          </ion-item>

        </ion-col>
      </ion-row>

      <!-- PASSWORD -->
      <ion-row>
        <ion-col size="">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password"
              ngModel
              name="password"
              required
              minlength="6"
              #passwordControl="ngModel"
            >
            </ion-input>
            
          </ion-item>
          <!-- PASSWORD validation message -->
          <ion-item *ngIf="passwordControl.invalid && passwordControl.touched" lines="none">
            <ion-label class="invalid-feedback">
              Password must have at least 6 characters
            </ion-label>
          </ion-item>

        </ion-col>
      </ion-row>


      <!-- Switch LOGIN / SIGNUP button -->
      <ion-row>
        <ion-col size="">
          
            <ion-button id="switch-button" 
              expand="block" 
              fill="clear" 
              shape="round" 
              color="tertiary" 
              (click)="onSwitchAuthMode()"
            >
              Switch to {{isLoginMode ? 'Sign Up' : 'Login'}}
            </ion-button>
          
        </ion-col>
      </ion-row>
    
    </ion-grid>
    <!-- LOGIN/SIGNUP button -->
    <ion-grid class="ion-no-border ion-no-margin ion-no-padding">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-button id="login-button" 
            color="tertiary" 
            type="submit"
            expand="full" 
            class="ion-align-items-center ion-no-border" 
            
            [disabled]="f.invalid"
            
          >
            {{isLoginMode ? 'LOGIN' : 'SIGN UP'}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </form>

  <!-- {{f.value | json}} -->
</ion-content>
