<ion-header>
  <ion-toolbar color="primary" class="header-border">
    <ion-title>Authentication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="" >
  
  <ion-grid class="ion-no-border ion-no-margin ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <ion-button id="login-button" color="tertiary" expand="full" class="ion-align-items-center ion-no-border" (click)="onLogin()">
          LOGIN
        </ion-button>
      </ion-col>
      
    </ion-row>
    
  </ion-grid>
  


</ion-content>
