<ion-header>
  <ion-toolbar color="primary" class="header-border">
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <!-- iOS only header
    <ion-header collapse="condense">
    <ion-toolbar color="primary" background="primary">
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- If there is no news -->
  <div *ngIf="!loadedNews || loadedNews?.length == 0"  class="ion-text-center ion-padding">
    <p>There is no news posted here yet...</p>
    <p>Please come back later.</p>
  </div>
  

  <!-- If there is any news -->
  <ion-grid *ngIf="loadedNews" class="ion-no-padding">
    
    <ion-row *ngFor="let singleNews of loadedNews">
      <ion-col size="12" class="">
        
        <ion-card id="news-card">
          <ion-card-header>
            <ion-card-subtitle>{{ singleNews.publisher_first_name}} {{singleNews.publisher_last_name}}</ion-card-subtitle>
            <ion-card-subtitle class="ion-padding-bottom">{{ singleNews.created_at | date:'dd/MMM/yyyy - hh:mm a' }}</ion-card-subtitle>
            <ion-card-title>{{ singleNews.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ singleNews.description }}
          </ion-card-content>

          <div class="ion-text-right ion-margin">
            <ion-button size="small"
              color="primary" 
              [routerLink]="['/', 'main', 'tabs', 'news', singleNews.id]"
              routerDirection="forward">
              READ
            </ion-button>
          </div>

        </ion-card>
        
      </ion-col>
    </ion-row>
  
  </ion-grid>

  <ion-button (click)="onLogout()" expand="block" fill="clear" shape="round">
    Logout
  </ion-button>

</ion-content>
